.container {
    max-width: 1675px;
}
/* Breadcrumbs */
.breadcrumbs {
    border: 1px solid #cbd2d9;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center; /* Center horizontally */
    overflow: hidden;
}

.breadcrumbs__item {
    background: #fff;
    color: #333;
    outline: none;
    padding: 0.75em 0.75em 0.75em 1.25em;
    position: relative;
    text-decoration: none;
    transition: background 0.2s linear;
}

.breadcrumbs__item:hover:after,
.breadcrumbs__item:hover {
    background: #edf1f5;
}

.breadcrumbs__item:focus:after,
.breadcrumbs__item:focus,
.breadcrumbs__item.is-active:focus {
    background: #19232b;
    color: #fff;
}

.breadcrumbs__item:after,
.breadcrumbs__item:before {
    background: white;
    bottom: 0;
    clip-path: polygon(50% 50%, -50% -50%, 0 100%);
    content: "";
    left: 100%;
    position: absolute;
    top: 0;
    transition: background 0.2s linear;
    width: 1em;
    z-index: 1;
}

.breadcrumbs__item:before {
    background: #cbd2d9;
    margin-left: 1px;
}

.breadcrumbs__item:last-child {
    border-right: none;
}

.breadcrumbs__item.is-active {
    background: #edf1f5;
}


  
#cart-icon {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 2em;
    background-color: #0d6efd;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.5em;
}
/* Cart Page Styles */
#cart {
    width: 80%;
    margin: auto;
}

#cart h2 {
    text-align: center;
    color: #333;
}

#cartTable {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

#cartTable th, #cartTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#total {
    color: #f30;
}

.signature {
    text-align: center;
    margin-top: 200px; /* Adjust the margin-top as needed */
}

.signature p {
    margin: 5px 0; /* Adjust the margin as needed */
}

.card {
    width: 100%; /* Set the card width to 100% to make it responsive */
    text-align: center; /* Center the content inside the card */
}

.card img {
    object-fit: contain; /* Ensure the image scales down while maintaining aspect ratio */
    max-height: 150px; /* Set the maximum height of the image */
}

#product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-sm-4 {
    flex-basis: calc(33.3333% - 20px);
    margin-bottom: 20px;
    margin-right: 20px;
}

/* Clear the right margin for the last item in each row */
.col-sm-4:nth-child(3n) {
    margin-right: 0;
}



/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .col-sm-4 {
        flex-basis: 100%; /* Full width for smaller screens */
        margin-right: 0; /* Remove the right margin for smaller screens */
    }
}

