body {
    font-family: 'Playfair Display', serif;
}
header {
    height:95vh;
    min-height:400px;
    background-size:cover;
    background-image:url("/images/hero-image.jpg");
}
p {
    margin: 0;
}
span {
    font-weight: bold;
}
.hero-box p {
    color: white;
}

h1 {
    font-weight: bold;
    color: #FDCB6E;
}
/* Navbar */
.hidden-spacer {
    height: 56px
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.btn-outline-primary {
    border-color: #FDCB6E;
    color: white;
}
.navbar .nav-link {
    font-size: 20px !important;
  }

#navbar.scrolled {
    background: black !important;
}


/* Hero Content */
.hero-box {
    padding-top: 15rem;
    z-index: 2;
}
.anime-title {
    font-size: 96px;
    color: #FFEAA7;
}

.hero-desc {
    font-size: 70px;
    width: 50%;
    margin: 5px 0;
    font-size: 20px;
    height: fit-content;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.review-section {
    background: black !important;
}

.blockquote {
    width: 25%;
}

#serviceImage {
    width: 50%;
    height: auto;
}
