html {
    font-family: 'Poppins';
}

body {
    margin: 0;
}

h1 {
    font-size: 64px;
    
}

.hero-desc {
    font-size: 32px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background: #4DC3E8;
    color: white;
    height: 550px;
}
.title-link {
    color: black;
}

.survey-button {
    background: white;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.hero-container img {
    margin-left: 20px;
    width: 795px;
    height: 470px;
}

.hero-container div {
    width: 50%;
}

.form-container {
    margin: 150px 80px 0 80px;
}

form div {
    margin-bottom: 30px; /* Increased space between questions */
}

form div label {
    display: block;
    margin-bottom: 10px; /* Increased margin for better separation */
    font-size: 18px;
    font-weight: bold;
}

form div input[type="text"],
form div textarea {
    width: 100%; 
    max-width: 600px; 
    padding: 10px;
    box-sizing: border-box;
}

form div input[type="radio"],
form div input[type="checkbox"] {
    margin-right: 5px;
}

form div select#listQuestion {
    width: 200px; 
    padding: 10px;
    box-sizing: border-box;
}

form div .checkbox-options label,
form div .radio-options label {
    display: inline-block;
    margin-right: 15px;
    font-size: 16px;
    font-weight: normal;
}
#comments {
    width: 100%; 
    max-width: 600px; 
    height: 200px;
    max-height: 200px;
    padding: 10px;
    box-sizing: border-box;
}
.submit-button {
    background: #4DC3E8;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.signature {
    text-align: center;
    margin-top: 100px; /* Adjust the margin-top as needed */
}

.signature p {
    margin: 5px 0; /* Adjust the margin as needed */
}