html {
    font-family: 'Poppins';
}

body {
    margin: 0;
    background-color: black !important;
    width: 100%;
    height:auto;
    color: white;
}
.container {
    width: auto !important;
    margin: 0 6rem !important;
    padding: 0 !important
}
.container-fluid {
    padding: 0 !important;
    width: 100% !important;
}
.btn-primary {
    background-color: #00CDFF !important;
    border-color: #00CDFF !important;
}

/* Navbar*/
a.nav-link {
    font-size: 24px !important;
}
.navbar-nav a.active {
    font-weight: bold;
}
.navbar-nav a:hover {
    color: #00CDFF !important;
    font-weight: bold;
}
#hero .navbar {
    background-color: transparent !important;
}
.navbar .nav-link {
    color: white !important;
}
.navbar-brand {
    margin: 0 !important;
    padding: 0 !important;
}

.btn-outline-primary {
    color: #00CDFF !important;
    border-color: #00CDFF !important;
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #00CDFF !important;
    border-color: #00CDFF !important;
}
.bg-img {
    width: 100%;
    height: 90vh;
    background-image: url("/wallpapers/chainsaw-man.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 200%);
    background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 200%);
    z-index: 0;
}



.bg-dark {
    color: black;
}
/* Hero section */
.hero-box {
    padding-top: 20rem;
    z-index: 2;
}
.hero-desc {
    width: 40%;
    margin: 5px 0;
    font-size: 18px;
}
.anime-title {
    font-size:96px !important;
}

.trending {
    margin-top: 5rem !important;
    height: auto !important;
}


/* Footer/signature */
.signature {
    text-align: center;
    margin-top: 100px;
    color: white;
}

.signature p {
    margin: 5px 0; /* Adjust the margin as needed */
}